# Dependencies
node_modules/

# Next.js
.next/
.next/cache/
out/

# Production builds
build/
dist/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Testing
coverage/
.cypress/
.playwright/
test-results/

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# TypeScript
*.tsbuildinfo

# Tooling caches
.eslintcache
.turbo/
.vercel/
.parcel-cache/
.cache/
.pnp/
.pnp.js

# IDE/editor
.idea/
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json

# OS
.DS_Store

